#tabel1{
  /* border: 1px red solid; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: collapse; 
  /* uneste celulele si elimina spatiul dintre ele */
}
#tabel1 tr td, #tabel1 tr th{
  border: 1px blue double;
  padding: 15px;
}
#tabel1 tr th{
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
}
#tabel1 tbody tr:nth-child(2n){
  background-color: rgb(218, 174, 122);
}
#tabel1 tbody tr:nth-child(2n+1){
  background-color: rgb(114, 238, 238);
}
#tabel1 tfoot tr{
  background-color: blueviolet;
  color: #ffffff;
}